
<pre>
<center><b><h1>Python Programming - 2301CS404</b></center>
<center><b><h1>Lab - 2</b></center>    
<pre>

### 01) WAP to print “Hello World..!!”

In [1]:
print("Hello World..!!")

Hello World..!!

### 02) WAP to accept your name and display a welcome message.
#### Input: Priya
#### Output: Hello Priya, welcome to Python Lab.

In [4]:
name = input("Enter your name:")
print("Hello "+name+", welcome to Python Lab.")

Enter your name: Yash

Hello Yash, welcome to Python Lab.

### 03) WAP to accept three integers and display the numbers, their sum, and average.
#### Input: 10 20 30
#### Output: 
##### Numbers: 10 20 30
##### Sum: 60
##### Average: 20.0

In [6]:
num1, num2, num3 = input("Enter three numbers(With space):").split();
print(num1, num2, num3)
num1 = int(num1)
num2 = int(num2)
num3 = int(num3)
print("Sum: ", num1+num2+num3)
avg = (num1+num2+num3) / 3
print("Average: ", avg)

Enter three numbers(With space): 45 55 89

45 55 89
Sum:  189
Average:  63.0

### 04) WAP to accept name (string), age (int), and percentage (float).
#### Input : Riya,18,92.5
#### Output : 
##### Name: Riya  Type: <class 'str'>
##### Age: 18  Type: <class 'int'>
##### Percentage: 92.5  Type: <class 'float'>

In [1]:
name, age, pr = input("Enter your name, age and pr (comma seprated):").split(",")
age = int(age)
pr = float(pr)
print(f"Name: {name}: {type(name)}")
print(f"Age: {age}: {type(age)}")
print(f"Percentage: {pr}: {type(pr)}")

Enter your name, age and pr (comma seprated): riya, 18, 92.5

Name: riya: <class 'str'>
Age: 18: <class 'int'>
Percentage: 92.5: <class 'float'>

### 05) WAP to print folowing message using custom separator and end.
#### Ouutput : Python | Programming | Basics###

In [11]:
print("Python", "Programming", "Basics", sep=" | ", end="###")

Python | Programming | Basics###

### 06) WAP to accept a value and display its value, type, and memory id.
#### Input : hello
#### Output : 
##### Value: hello
##### Type: <class 'str'>
##### ID: 140712345678912

In [13]:
str = input("Enter the string:")
print("Value:", str)
print("Type:", type(str))
print("ID:",id(str))

Enter the string: hello

Value: hello
Type: <class 'str'>
ID: 2199603386032

### 07) WAP to assign a value to a variable, print id, reassign a new value, and print id again.
#### Output :
##### Original ID of a: 140712345678912
##### New ID of a: 140712345678960

In [19]:
a = 10
print("Original ID of a:", id(a))
a = 20
print("New ID of a:", id(a))

Original ID of a: 140710266320072
New ID of a: 140710266320392

### 08) WAP to print multiple lines using a single print().
#### Output:
##### Welcome to Python
##### This is the second lab
##### Enjoy coding!

In [16]:
print("""Welcome to Python
This is the second lab
Enjoy coding!""")

Welcome to Python
This is the second lab
Enjoy coding!

### 09) WAP to display following table of items with proper alignment.
#### Output :
| Sr No | Name        | Subject | Grade | Percentage |
| ----: | ----------- | ------- | :---: | ---------: |
|     1 | Nisha Patel | Math    |   A   |         92 |
|     2 | Aarav Modi  | Science |   B+  |         85 |
|     3 | Jiya Shah   | English |   A+  |         96 |

In [29]:
print(f"{'Sr No':^5} {'Name':^12} {'Subject':^8} {'Grade':^5} {'Percentage':^10}")
print(f"{1:>5} {'Nisha Patel':<12} {'Math':<8} {'A':^5} {92:>10}")
print(f"{2:>5} {'Aarav Modi':<12} {'Science':<8} {'B+':^5} {85:>10}")
print(f"{3:>5} {'Jiya Shah':<12} {'English':<8} {'A+':^5} {96:>10}")

Sr No     Name     Subject  Grade Percentage
    1 Nisha Patel  Math       A           92
    2 Aarav Modi   Science   B+           85
    3 Jiya Shah    English   A+           96

### 10) WAP to accept a float number and display with 2 decimals, 3 decimals, and width 10.
#### Input : 37.2567
#### Output :
##### 2 decimals: 37.26
##### 3 decimals: 37.257
##### Width 10:      37.26

In [58]:
num = float(input("Input:"))
print(f"2 decimals: {num:.2f}")
print(f"3 decimals: {num:.3f}")
print(f"Width: {num:<10.2f}")

Input: 35.2584

2 decimals: 35.26
3 decimals: 35.258
Width: 35.26

### 11) WAP to accept two integers and display sum, difference, and product using f-strings.
#### Input : 12 8
#### Output :
##### Sum = 20
##### Difference = 4
##### Product = 96

In [53]:
a, b = input("Enter two number:").split();
a = int(a)
b = int(b)
print("Sum =", a+b)
print("Difference =", a-b)
print("Product =", a*b)

Enter two number: 12 8

Sum = 20
Difference = 4
Product = 96

### 12) WAP to accept date in dd mm yyyy format and display in multiple formats.
#### Input : 01 12 2025
#### Output :
##### 01/12/2025
##### 2025-12-01

In [59]:
dd, mm, yyyy = input("Enter the date (space seprated):").split();
print(dd, mm, yyyy, sep="/")
print(yyyy, mm, dd, sep="-")

Enter the date (space seprated): 10 12 2025

10/12/2025
2025-12-10

### 13) WAP to calculate area and perimeter of a circle.

In [60]:
radius = float(input("Enter radius of the circle: "))

area = 3.14 * radius * radius
per = 2 * 3.14 * radius

print("Area of the circle:", area)
print("Perimeter (Circumference) of the circle:", per)

Enter radius of the circle:  10

Area of the circle: 314.0
Perimeter (Circumference) of the circle: 62.800000000000004

### 14) WAP to convert degree into Fahrenheit and vice versa.

In [69]:
c = float(input("Enter the Cesius:"))
f = (c*9/5) + 32
print("Fahrenheit:", f)

f = float(input("Enter the Fahrenheit:"))
c = (f-32) * (5/9)
print("Fahrenheit:", c)

Enter the Cesius: 0

Fahrenheit: 32.0

Enter the Fahrenheit: 32

Fahrenheit: 0.0

### 15) WAP to get the distance from user into kilometer, and convert it into meter, feet, inches and centimeter.

In [3]:
kilo = float(input("Enter the distance in kilometer:"))
meter = kilo * 1000
feet = kilo * 3280.84
inch = kilo * 39,370.1
cm = kilo * 100000

print("Kilometer =", kilo)
print("meter =", meter)
print("feet =", feet)
print("inches =", inch)
print("centimeter =", cm)

Enter the distance in kilometer: 1

Kilometer = 1.0
meter = 1000.0
feet = 3280.84
inches = 39370.1
centimeter = 100000.0