### **`Problem-1:`** Write a Python function that takes a list and returns a new list with unique elements of the first list without using set.

**Exercise 1:**

Input:

```bash
[1,2,3,3,3,3,4,5]
```

Output:

```bash
[1, 2, 3, 4, 5]
```

In [2]:
def return_unique(li):
    result = []
    for i in li:
        if i not in result:
            result.append(i)
    return result


li = [1, 2, 3, 3, 3, 3, 4, 5]
return_unique(li)

[1, 2, 3, 4, 5]

### **`Problem-2:`** Write a Python function that accepts a hyphen-separated sequence of words as parameter and returns the words in a hyphen-separated sequence after sorting them alphabetically.

**Example 1:**

Input:
```bash
green-red-yellow-black-white
```

Output:
```bash
black-green-red-white-yellow
```

In [4]:
def sort_sequence(seq):
    word = seq.split("-")
    word.sort()
    return "-".join(word)

s = "green-red-yellow-black-white"
sort_sequence(s)

'black-green-red-white-yellow'

### **`Problem 3:`** Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters.

```
Sample String : 'CampusX is an Online Mentorship Program fOr EnginEering studentS.'
Expected Output :
No. of Upper case characters :  9
No. of Lower case Characters :  47
```

In [ ]:
def lower_upper(s):



s = "CampusX is an Online Mentorship Program fOr EnginEering studentS."
x, y = lower_upper(s)
print("No. of Lower case characters:", x)
print("No. of Upper case Characters:", y)

No. of Lower case characters: 47
No. of Upper case Characters: 9

In [8]:
def lower_upper(s):
    uppercasechar = len([i for i in s if i.isupper()])
    lowercasechar = len([i for i in s if i.islower()])
    return lowercasechar, uppercasechar

s = "CampusX is an Online Mentorship Program fOr EnginEering studentS."
x, y = lower_upper(s)
print("No. of Lower case characters:", x)
print("No. of Upper case Characters:", y)

No. of Lower case characters: 47
No. of Upper case Characters: 9

### **`Problem 4:`** Write a Python program to print the even numbers from a given list.
```
Sample List : [1, 2, 3, 4, 5, 6, 7, 8, 9]
Expected Result : [2, 4, 6, 8]
```

In [ ]:
def give_even(li):



give_even([1, 2, 3, 4, 5, 6, 7])

[2, 4, 6]

In [9]:
def give_even(li):
    return [i for i in li if i % 2 == 0]


give_even([1, 2, 3, 4, 5, 6, 7])

[2, 4, 6]

### **`Problem 5:`** Write a Python function to check whether a number is perfect or not.

A Perfect number is a number that is half the sum of all of its positive divisors (including itself).

Example :

```
6 is perfect number because its proper divisors (1, 2, 3) add up to 6 (1+2+3=6), and 28 is perfect number because its proper divisors (1, 2, 4, 7, 14) add up to 28 (1+2+4+7+14=28)
Other examples include 496 and 8128, ...
```

In [ ]:
def is_perfect_number(n):

is_perfect_number(28)

True

In [11]:
def is_perfect_number(n):
    factor = [i for i in range(1, n//2 + 1) if n % i == 0]
    return True if sum(factor) == n else False

is_perfect_number(28)

True

### **`Problem-6:`** Write a Python function to concatenate any no of dictionaries to create a new one.

```
Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
```

In [ ]:
def merge_dict(*args):



dic1 = {1: 10, 2: 20}
dic2 = {3: 30, 4: 40}
dic3 = {5: 50, 6: 60}

merge_dict(dic1, dic2, dic3)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [14]:
def merge_dict(*args):
    return {k: v for dictt in args for k, v in dictt.items()}

dic1 = {1: 10, 2: 20}
dic2 = {3: 30, 4: 40}
dic3 = {5: 50, 6: 60}

merge_dict(dic1, dic2, dic3)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

### `Problem-7` Write a python function that accepts a string as input and returns the word with most occurence.

```
Input:
hello how are you i am fine thank you
```

```
Output
you -> 2
```

In [ ]:
def most_used(s):


most_used("hello how are you i am fine thank you")

you -> 2

In [18]:
def plain_string(s): 
    return "".join(ch for ch in s if ch.isalnum() or ch == " ") 

print(plain_string("Hello!@# World$%^"))

Hello World

In [22]:
def make_freq_dict(li):
    freq = {}
    for i in li:
        freq[i] = freq.get(i, 0) + 1

    return freq

In [29]:
def most_used(s):
    s = plain_string(s)
    freq = {}

    for word in s.split():
        freq[word] = freq.get(word, 0) + 1

    max_word = max(freq, key=freq.get)
    return f"{max_word} -> {freq[max_word]}"
    

most_used("hello how are you i am fine thank you")

'you -> 2'

### `Problem-8` Write a python function that receives a list of integers and prints out a histogram of bin size **10**.

```
Input:
[13,42,15,37,22,39,41,50]
```

```
Output:
{11-20:2,21-30:1,31-40:2,41-50:3}
```

In [31]:
import math


def histogram(li):

    min_bin = math.floor(min(li) / 10) * 10
    max_bin = math.ceil(max(li) / 10) * 10

    print(min_bin, max_bin)



histogram([13, 42, 15, 37, 22, 39, 41, 50])

13 50
10 50

In [33]:
# def bin_of_10(minn, maxx):
#     for i in range(minn, maxx, 10):
#         start = i + 1
#         end = start + 9
#         print(start, "-", end)

# bin_of_10(10, 50)

11 - 20
21 - 30
31 - 40
41 - 50

In [ ]:
import math

def histogram(li):

    min_bin = math.floor(min(li) / 10) * 10
    max_bin = math.ceil(max(li) / 10) * 10

    


histogram([13, 42, 15, 37, 22, 39, 41, 50])

In [34]:
# 1
def histogram(nums):
    bins = {}

    for n in nums:
        start = (n // 10) * 10 + 1
        end = start + 9
        key = f"{start}-{end}"

        bins[key] = bins.get(key, 0) + 1

    return bins


print(histogram([13,42,15,37,22,39,41,50]))

# 2
def histogram(nums):
    h = {}
    for n in nums:
        k = f"{(n//10)*10+1}-{(n//10)*10+10}"
        h[k] = h.get(k, 0) + 1
    return h

print(histogram([13,42,15,37,22,39,41,50]))

{'11-20': 2, '41-50': 2, '31-40': 2, '21-30': 1, '51-60': 1}
{'11-20': 2, '41-50': 2, '31-40': 2, '21-30': 1, '51-60': 1}

### `Problem-9` Write a python function that accepts a list of 2D co-ordinates and a query point, and then finds the the co-ordinate which is closest in terms of distance from the query point.

```
List of Coordinates
[(1,1),(2,2),(3,3),(4,4)]
Query Point
(0,0)
```

```
Output
Nearest to (0,0) is (1,1)
```

In [ ]:
def shortest_dist(points, query):



# points = [(1, 4), (2, -2), (13, 3), (14, 4)]
points = [(1, 1), (2, 2), (3, 3), (4, 4)]
query = (0, 0)

shortest_dist(points, query)

(1, 1)

In [7]:
def shortest_dist(points, query):
    dictt = {}
    for i in points:
        distance = ((i[0] - query[0]) ** 2 + (i[1] - query[1]) ** 2) ** (1/2)
        dictt[distance] = i
    return dictt[min(dictt.keys())]


points = [(1, 4), (2, -2), (13, 3), (14, 4)]
# points = [(1, 1), (2, 2), (3, 3), (4, 4)]
query = (0, 0)

shortest_dist(points, query)

(2, -2)

### `Problem-10`:Write a python program that receives a list of strings and performs bag of word operation on those strings

https://en.wikipedia.org/wiki/Bag-of-words_model

In [ ]:
def bow(li):
    


li = ["cat mat rat cat", "sat bat fat cat rat", "pat cat mat rat"]

bow(li)

{'pat', 'cat', 'bat', 'mat', 'sat', 'rat', 'fat'}

[[0, 2, 0, 1, 0, 1, 0], [0, 1, 1, 0, 1, 1, 1], [1, 1, 0, 1, 0, 1, 0]]

In [41]:
def bow(li):
    list_of_dict = []
    
    for strr in li:
        d = {}
        for word in strr.split():
            d[word] = d.get(word, 0) + 1
        list_of_dict.append(d)
        
    word_set = {j for i in li for j in i.split()}
    print(word_set)
    
    print([[d.get(word, 0) for word in word_set] for d in list_of_dict])



li = ["cat mat rat cat", "sat bat fat cat rat", "pat cat mat rat"]
bow(li)

{'rat', 'fat', 'pat', 'mat', 'sat', 'cat', 'bat'}
[[1, 0, 0, 1, 0, 2, 0], [1, 1, 0, 0, 1, 1, 1], [1, 0, 1, 1, 0, 1, 0]]

### `Problem 11:` Write a Python program to add three given lists using Python map and lambda.

In [ ]:
li1 = [1, 2, 3]
li2 = [4, 5, 6]
li3 = [7, 8, 9]

# Output: [12,15,18]

[12, 15, 18]

In [16]:
li1 = [1, 2, 3]
li2 = [4, 5, 6]
li3 = [7, 8, 9]

result = []
result.append(li1)
result.append(li2)
result.append(li3)

list(map(lambda x, y, z: x+y+z, li1, li2, li3))

[12, 15, 18]

### `Problem-12:`Write a Python program to create a list containing the power of said number in bases raised to the corresponding number in the index using Python map.
`Input:`
```
list1 = [1,2,3,4,5,6]
```
`Output:`
```
[1,2,9,64,625,7776]
```

In [ ]:
list1 = [1, 2, 3, 4, 5, 6]

[1, 2, 9, 64, 625, 7776]

In [19]:
list1 = [1, 2, 3, 4, 5, 6]

list(map(lambda i: i ** list1.index(i), list1))

[1, 2, 9, 64, 625, 7776]

### `Problem-13` Using filter() and list() functions and .lower() method filter all the vowels in a given string.

In [ ]:
str1 = "FIFA world cup in 2022 will take place in Qatar"

['I', 'A', 'o', 'u', 'i', 'i', 'a', 'e', 'a', 'e', 'i', 'a', 'a']

In [20]:
str1 = "FIFA world cup in 2022 will take place in Qatar"

list(filter(lambda i: i.lower() in 'aieou', str1))

['I', 'A', 'o', 'u', 'i', 'i', 'a', 'e', 'a', 'e', 'i', 'a', 'a']

### `Problem-14`: Use reduce to convert a 2D list to 1D

In [26]:
li = [[1, 2, 3], [3, 6, 7], [7, 5, 4]]

import functools

functools.reduce(lambda x, y: x + y, li)

[1, 2, 3, 3, 6, 7, 7, 5, 4]

### `Problem 15`- A dictionary contains following information about 5 employees:
- First name
- Last name
- Age
- Grade(Skilled,Semi-skilled,Highly skilled)<br><br/>
Write a program using map/filter/reduce to a list of employees(first name + last name) who are highly skilled

In [43]:
employees = [
    {"fname": "Nitish", "lname": "Singh", "age": 33, "grade": "skilled"},
    {"fname": "Ankit", "lname": "Verma", "age": 34, "grade": "semi-skilled"},
    {"fname": "Neha", "lname": "Singh", "age": 35, "grade": "highly-skilled"},
    {"fname": "Anurag", "lname": "Kumar", "age": 30, "grade": "skilled"},
    {"fname": "Abhinav", "lname": "Sharma", "age": 37, "grade": "highly-skilled"},
]

In [57]:
highly_skilled = filter(lambda e: e["grade"] == "highly-skilled", employees)

names = list(map(lambda e: e["fname"] + " " + e["lname"], highly_skilled))

print(names)

['Neha Singh', 'Abhinav Sharma']

In [63]:
from functools import reduce

name = reduce(lambda acc, e: acc + [e['fname'] + ' ' + e['lname']] if e['grade'] == 'highly-skilled' else acc , employees, [])
print(name)

['Neha Singh', 'Abhinav Sharma']

In [76]:
from functools import reduce

filterr = filter(lambda e: e['grade'] == 'highly-skilled', employees)
mapp = map(lambda e: e['fname'] + ' ' + e['lname'], filterr)

names = reduce(lambda acc, n: acc + ', ' + n, mapp)
print(names)

Neha Singh, Abhinav Sharma

In [54]:
list(map(lambda d: d['fname'] + d['lname'] if d['grade'] == 'highly-skilled' else "", employees))

['', '', 'NehaSingh', '', 'AbhinavSharma']

In [47]:
def hight_skilled_emp(employess):
    for d in employees:
        if d['grade'] == 'highly-skilled':
            print(d['fname'] + ' ' + d['lname'])

hight_skilled_emp(employees)

Neha Singh
Abhinav Sharma